---
import Line from "./Line.astro";
import SocialPill from "./SocialPill.astro";

import AstroIcon from "./icons/Astro.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import TailwindIcon from "./icons/TailwindCSS.astro";
import GithubIcon from "./icons/GitHub.astro";
import EnterIcon from "./icons/Enter.astro";
import ReactIcon from "./icons/React.astro";
import ReduxIcon from "./icons/Redux.astro";
import JavaIcon from "./icons/Java.astro";
import SpringIcon from "./icons/SpringBoot.astro";
import PostgresIcon from "./icons/Postgres.astro";

import { useTranslations } from "../i18n/util";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);

const PROJECTS = [
  {
    title: t('projects.title.item1'),
    description: t('projects.description.item1'),
    image: "/data/ProjectAconcagua.webp",
    techIcons: [
      { icon: AstroIcon, href: "https://astro.build", class: "hover:bg-orange-800", ariaLabel: "Sitio oficial de Astro" },
      { icon: JavaScriptIcon, href: "https://www.javascript.com/", class: "hover:bg-yellow-600", ariaLabel: "Sitio oficial de JavaScript" },
      { icon: TypeScriptIcon, href: "https://www.typescriptlang.org/", class: "hover:bg-blue-800", ariaLabel: "Sitio oficial de TypeScript" },
      { icon: TailwindIcon, href: "https://tailwindcss.com/", class: "hover:bg-blue-400", ariaLabel: "Sitio oficial de Tailwind CSS" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/PaginaAconcagua", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub de Página Aconcagua" },
      { icon: EnterIcon, href: "https://gastonmolinaguide.netlify.app", class: "hover:bg-blue-800", ariaLabel: "Sitio web de la guía Gastón Molina" },
    ],
    showLine: true  
  },

  {
    title: t('projects.title.item2'),
    description: t('projects.description.item2'),
    image: "/data/ProjectFrontEndBuenSabor.webp",
    techIcons: [
      { icon: ReactIcon, href: "https://react.dev", class: "hover:bg-sky-600", ariaLabel: "Sitio oficial de React" },
      { icon: ReduxIcon, href: "https://redux-toolkit.js.org/", class: "hover:bg-purple-800", ariaLabel: "Sitio oficial de Redux Toolkit" },
      { icon: TypeScriptIcon, href: "https://www.typescriptlang.org/", class: "hover:bg-blue-800", ariaLabel: "Sitio oficial de TypeScript" },
      { icon: TailwindIcon, href: "https://tailwindcss.com/", class: "hover:bg-blue-400", ariaLabel: "Sitio oficial de Tailwind CSS" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/ElBuenSaborFrontReact", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub del frontend de Buen Sabor" },
    ],
    showLine: true  
  },

  {
    title: t('projects.title.item3'),
    description: t('projects.description.item3'),
    image: "/data/ProjectBackEndBuenSabor.webp",
    techIcons: [
      { icon: JavaIcon, href: "https://www.oracle.com/java/", class: "hover:bg-red-700", ariaLabel: "Sitio oficial de Java" },
      { icon: SpringIcon, href: "https://spring.io/projects/spring-boot", class: "hover:bg-green-700", ariaLabel: "Sitio oficial de Spring Boot" },
      { icon: PostgresIcon, href: "https://www.postgresql.org/", class: "hover:bg-blue-700", ariaLabel: "Sitio oficial de PostgreSQL" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/buensabor-backend", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub del backend de Buen Sabor" },
    ],
    showLine: false
  },
  {
    title: t('projects.title.item4'),
    description: t('projects.description.item4'),
    image: "/data/ProjectBackEndBuenSabor.webp",
    techIcons: [
      { icon: JavaIcon, href: "https://www.oracle.com/java/", class: "hover:bg-red-700", ariaLabel: "Sitio oficial de Java" },
      { icon: SpringIcon, href: "https://spring.io/projects/spring-boot", class: "hover:bg-green-700", ariaLabel: "Sitio oficial de Spring Boot" },
      { icon: PostgresIcon, href: "https://www.postgresql.org/", class: "hover:bg-blue-700", ariaLabel: "Sitio oficial de PostgreSQL" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/buensabor-backend", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub del backend de Buen Sabor" },
    ],
    showLine: false
  },
  {
    title: t('projects.title.item5'),
    description: t('projects.description.item5'),
    image: "/data/ProjectBackEndBuenSabor.webp",
    techIcons: [
      { icon: JavaIcon, href: "https://www.oracle.com/java/", class: "hover:bg-red-700", ariaLabel: "Sitio oficial de Java" },
      { icon: SpringIcon, href: "https://spring.io/projects/spring-boot", class: "hover:bg-green-700", ariaLabel: "Sitio oficial de Spring Boot" },
      { icon: PostgresIcon, href: "https://www.postgresql.org/", class: "hover:bg-blue-700", ariaLabel: "Sitio oficial de PostgreSQL" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/buensabor-backend", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub del backend de Buen Sabor" },
    ],
    showLine: false
  },
  {
    title: t('projects.title.item6'),
    description: t('projects.description.item6'),
    image: "/data/ProjectBackEndBuenSabor.webp",
    techIcons: [
      { icon: JavaIcon, href: "https://www.oracle.com/java/", class: "hover:bg-red-700", ariaLabel: "Sitio oficial de Java" },
      { icon: SpringIcon, href: "https://spring.io/projects/spring-boot", class: "hover:bg-green-700", ariaLabel: "Sitio oficial de Spring Boot" },
      { icon: PostgresIcon, href: "https://www.postgresql.org/", class: "hover:bg-blue-700", ariaLabel: "Sitio oficial de PostgreSQL" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/buensabor-backend", class: "hover:bg-blue-800", ariaLabel: "Repositorio en GitHub del backend de Buen Sabor" },
    ],
    showLine: false
  }
];
---

{PROJECTS.map(({ title, description, image, techIcons, repoIcons, showLine }) => (
  <article class="flex flex-col w-full gap-8">
    <div class="justify-center flex-1 py-4 sm:w-full">
      <h3 class="pb-2 mb-3 text-xl font-semibold text-gray-800 dark:text-white">{title}</h3>
      <p class="w-full mb-2 text-sm text-gray-800 dark:text-white opacity-80 text-pretty">{description}</p>

      <div class="flex justify-between w-full">
        <div class="flex flex-row flex-wrap gap-2 py-3 sm:w-full">
          {techIcons.map(({ icon: Icon, href, class: customClass, ariaLabel }) => (
            <SocialPill class={customClass} href={href} aria-label={ariaLabel}>
              <Icon />
            </SocialPill>
          ))}
        </div>
        <div class="flex flex-row gap-2 py-3">
          {repoIcons.map(({ icon: Icon, href, class: customClass, ariaLabel }) => (
            <SocialPill class={customClass} href={href} aria-label={ariaLabel}>
              <Icon />
            </SocialPill>
          ))}
        </div>
      </div>

      <img
        class="w-full mt-4 rounded-lg shadow-xl shadow-gray-800"
        src={image}
        alt={`Captura de ${title}`}
      />

      {showLine && <Line />}  
    </div>
  </article>
))}
