---
import Line from "./Line.astro";
import SocialPill from "./SocialPill.astro";

import AstroIcon from "./icons/Astro.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import TailwindIcon from "./icons/TailwindCSS.astro";
import GithubIcon from "./icons/GitHub.astro";
import EnterIcon from "./icons/Enter.astro";
import ReactIcon from "./icons/React.astro";
import ReduxIcon from "./icons/Redux.astro";
import JavaIcon from "./icons/Java.astro";
import SpringIcon from "./icons/SpringBoot.astro";
import PostgresIcon from "./icons/Postgres.astro";

import { useTranslations } from "../i18n/util";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);

const PROJECTS = [
  {
    title: t('projects.title.item1'),
    description:
      t('projects.description.item1'),
    image: "/data/ProjectAconcagua.webp",
    techIcons: [
      { icon: AstroIcon, href: "https://astro.build", class: "hover:bg-orange-800" },
      { icon: JavaScriptIcon, href: "https://www.javascript.com/", class: "hover:bg-yellow-600" },
      { icon: TypeScriptIcon, href: "https://www.typescriptlang.org/", class: "hover:bg-blue-800" },
      { icon: TailwindIcon, href: "https://tailwindcss.com/", class: "hover:bg-blue-400" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/PaginaAconcagua", class: "hover:bg-blue-800" },
      { icon: EnterIcon, href: "https://gastonmolinaguide.netlify.app", class: "hover:bg-blue-800" },
    ],
    showLine: true  
  },

  {
    title: t('projects.title.item2'),
    description:
      t('projects.description.item2'),
    image: "/data/ProjectFrontEndBuenSabor.webp",
    techIcons: [
      { icon: ReactIcon, href: "https://react.dev", class: "hover:bg-sky-600" },
      { icon: ReduxIcon, href: "https://redux-toolkit.js.org/", class: "hover:bg-purple-800" },
      { icon: TypeScriptIcon, href: "https://www.typescriptlang.org/", class: "hover:bg-blue-800" },
      { icon: TailwindIcon, href: "https://tailwindcss.com/", class: "hover:bg-blue-400" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/ElBuenSaborFrontReact", class: "hover:bg-blue-800" },
    //   { icon: EnterIcon, href: "https://gastonmolinaguide.netlify.app", class: "hover:bg-blue-800" },
    ],
    showLine: true  
  },
  {
    title: t('projects.title.item3'),
    description:
      t('projects.description.item3'),
    image: "/data/ProjectBackEndBuenSabor.webp",
    techIcons: [
       { icon: JavaIcon, href: "https://www.oracle.com/java/", class: "hover:bg-red-700", line: Line },
       { icon: SpringIcon, href: "https://spring.io/projects/spring-boot", class: "hover:bg-green-700", line: Line },
       { icon: PostgresIcon, href: "https://www.postgresql.org/", class: "hover:bg-blue-700" },
    ],
    repoIcons: [
      { icon: GithubIcon, href: "https://github.com/Ignacio-Molina-0804/buensabor-backend", class: "hover:bg-blue-800" },
    //   { icon: EnterIcon, href: "https://gastonmolinaguide.netlify.app", class: "hover:bg-blue-800" },
    ],
    showLine: false

  }
];
---

{PROJECTS.map(({ title, description, image, techIcons, repoIcons, showLine }) => (
  <article class="flex flex-col gap-8 w-full">
    <div class="flex-1 sm:w-full justify-center py-4">
      <h3 class="text-gray-800 dark:text-white text-xl font-semibold mb-3 pb-2">{title}</h3>
      <p class="text-gray-800 dark:text-white text-sm mb-2 opacity-80 w-full text-pretty">{description}</p>
    
    <div class="flex justify-between w-full">
      <div class="flex flex-row py-3 gap-2 sm:w-full flex-wrap">
        {techIcons.map(({ icon: Icon, href, class: customClass }) => (
          <SocialPill class={customClass} href={href}>
            <Icon />
          </SocialPill>
        ))}
      </div>
      <div class="flex flex-row py-3 gap-2 ">
        {repoIcons.map(({ icon: Icon, href, class: customClass }) => (
          <SocialPill class={customClass} href={href}>
            <Icon />
          </SocialPill>
        ))}
      </div>
    </div>

      <img
        class="w-full rounded-lg shadow-xl shadow-gray-800 mt-4"
        src={image}
        alt={`Captura de ${title}`}
      />

      {showLine && <Line />}  
    </div>
  </article>
))}
